<p id="notice"></p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>
<a class="Edit" href='/:id/edit'>Edit</a>
|
<a class="Back" href="/books">Back</a>